<h1> Hello! </h1>

<!-- <form accept-charset="UTF-8" action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="f_username">Username:</label>
	<input type="text" name="user[username]"><br/><br/>

	<label for="f_email">Email:</label>
	<input type="text" name="user[email]"><br/><br/>

	<label for="f_password">Password:</label>
	<input type="password" name="user[password]"><br/><br/>

	<input type="submit" value="Sign Up">
</form> -->

<% if false %>
<%= form_tag url_for(action: 'create'), method: "post" do %>
	<%= label_tag 'user[username]', 'Username:' %>
	<%= text_field_tag 'user[username]' %>
	<br/><br/>

	<%= label_tag 'user[email]', 'Email:' %>
	<%= text_field_tag 'user[email]' %>
	<br/><br/>

	<%= label_tag 'user[password]', 'Password:' %>
	<%= password_field_tag 'user[password]' %>
	<br/><br/>

	<%= submit_tag "Sign up" %>

<% end %>
<% end %>

<%= form_for @user do |f| %>
	Username: <%= f.text_field :username, value: 'Ex: John Smith' %><br/>
	Email: <%= f.text_field :email, value: 'Ex: ex@example.com' %><br/>
	Password: <%= f.password_field :password %><br/>
	<%= f.submit "Sign Up"%>
<% end %>
